{layout ../../@layout.latte}

{block title}
    Editing "{$article->title}"
{/block}

{block content}
    Edit Article Form
    {control articleEditForm}

{* TODO: Include modern tool to editing articles *}