parameters:


application:
	mapping:
	    Front: 'App\UI\FrontModule\**Presenter'
	    Admin: 'App\UI\AdminModule\**Presenter'
	    Auth: 'App\UI\AuthModule\**Presenter'


latte:
	strictTypes: yes
	strictParsing: yes


di:
	export:
		parameters: yes
		tags: no
